{% macro cookieBanner() %}
  <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on AI Content Review service" id="cookie-banner" style="display: none;">
    <div class="govuk-cookie-banner__message govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on AI Content Review service</h2>
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">We use some essential cookies to make this service work.</p>
            <p class="govuk-body">We do not use analytics or tracking cookies. <a class="govuk-link" href="/cookies">Find out more about cookies</a>.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button type="button" class="govuk-button" data-module="govuk-button" id="cookie-hide">
          Hide cookie message
        </button>
      </div>
    </div>
  </div>
{% endmacro %}
