{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "partials/cookie-banner.njk" import cookieBanner %}

{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    useTudorCrown: true
  }) }}

  {# GOV.UK Service Navigation with authentication #}
  {% if user %}
    {{ govukServiceNavigation({
      serviceUrl: "/",
      navigation: [
        {
          href: "/",
          text: "Home",
          active: true if pageTitle == 'Home' else false
        },
        {
          href: "/about",
          text: "About",
          active: true if pageTitle == 'About' else false
        }
      ],
      slot: '<a class="govuk-service-navigation__link" href="/auth/logout">Sign out</a>'
    }) }}
  {% else %}
    {{ govukServiceNavigation({
      serviceUrl: "/",
      navigation: [
        {
          href: "/",
          text: "Home",
          active: true if pageTitle == 'Home' else false
        },
        {
          href: "/about",
          text: "About",
          active: true if pageTitle == 'About' else false
        }
      ],
      slot: '<a class="govuk-service-navigation__link" href="/auth/login-page">Sign in (Optional)</a>'
    }) }}
  {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {{ cookieBanner() }}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/privacy",
          text: "Privacy"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility",
          text: "Accessibility statement"
        },
        {
          href: "/contact",
          text: "Contact"
        }
      ]
    },
    contentLicence: {
      html: 'All content is available under the <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated'
    },
    copyright: {
      html: '© <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">Crown copyright</a>'
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script nonce="{{ cspNonce }}">
    // Inject backend configuration for client-side JavaScript
    window.APP_CONFIG = {
      backendApiUrl: '{{ backendUrl }}'
    };
  </script>
  <script nonce="{{ cspNonce }}" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
