{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">Contact</h1>
      
      <h2 class="govuk-heading-l">Feedback about this service</h2>
      
      <p class="govuk-body">If you have feedback, suggestions, or questions about the AI Content Review service, please use our <a href="https://forms.office.com/e/yA5mQ2kEb3?origin=lprLink" class="govuk-link" rel="noopener noreferrer" target="_blank">feedback form (opens in new tab)</a>.</p>
      
      <p class="govuk-body">This form is for content designers and other users of the AI Content Review tool. We review all feedback to help improve the service.</p>
      
      <h2 class="govuk-heading-l">Get help using this service</h2>
      
      <p class="govuk-body">If you need help using the AI Content Review service, contact the Defra helpline.</p>
      
      <div class="govuk-inset-text">
        Defra helpline<br>
        Email: <a href="mailto:defra.helpline@defra.gov.uk" class="govuk-link">defra.helpline@defra.gov.uk</a><br>
        Telephone: 03459 33 55 77<br>
        Monday to Friday, 8am to 6pm (closed on bank holidays)<br>
        <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>
      </div>
      
      <p class="govuk-body">We aim to respond to emails within 2 working days.</p>
      
      <h2 class="govuk-heading-l">Technical support</h2>
      
      <p class="govuk-body">If you're experiencing technical issues with this service, email the Defra helpline with:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>a description of the problem</li>
        <li>what you were trying to do when the problem occurred</li>
        <li>any error messages you saw</li>
        <li>the type of device and browser you're using</li>
      </ul>
      
      <p class="govuk-body">This will help us to resolve your issue more quickly.</p>
      
      <h2 class="govuk-heading-l">Data protection enquiries</h2>
      
      <p class="govuk-body">If you have questions about how we process your personal data, contact Defra's Data Protection Manager.</p>
      
      <div class="govuk-inset-text">
        Data Protection Manager<br>
        Department for Environment, Food and Rural Affairs<br>
        Seacole Building<br>
        2 Marsham Street<br>
        London<br>
        SW1P 4DF<br>
        <br>
        Email: <a href="mailto:data.protection@defra.gov.uk" class="govuk-link">data.protection@defra.gov.uk</a>
      </div>
      
      <p class="govuk-body">You can also read our <a href="/privacy" class="govuk-link">privacy notice</a> for more information.</p>
      
      <h2 class="govuk-heading-l">Accessibility support</h2>
      
      <p class="govuk-body">If you need help accessing this service or need information in a different format (such as accessible PDF, large print or braille), contact the Defra helpline.</p>
      
      <p class="govuk-body">Read our <a href="/accessibility" class="govuk-link">accessibility statement</a> for more information about the accessibility of this service.</p>
      
      <h2 class="govuk-heading-l">Report a security vulnerability</h2>
      
      <p class="govuk-body">If you've found a security issue with this service, contact:</p>
      
      <div class="govuk-inset-text">
        Email: <a href="mailto:defra.helpline@defra.gov.uk" class="govuk-link">defra.helpline@defra.gov.uk</a>
      </div>
      
      <p class="govuk-body">Please do not share details of the security issue publicly until it has been fixed.</p>
      
    </div>
  </div>
{% endblock %}
