@use 'variables/colours' as *;
@use 'govuk-frontend' as *;

// Example namespaced custom element style CSS classes

.app-header {
  border-bottom-color: $app-light-grey;
}

// Ensure header container has proper margins
.app-header .govuk-width-container {
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width: 40.0625em) {
  .app-header .govuk-width-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1020px) {
  .app-header .govuk-width-container {
    margin-left: auto;
    margin-right: auto;
  }
}
